$c1:#333;
$bc1:rgba(255,255,255,0.1);
$light1:rgba(255,255,255,0.18);

@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Semibold.ttf);
}
@font-face {
    font-family: Lato-light;
    src: url(fonts/Lato-Light.ttf);
}
body,html
{
	// width: 100%;
	// height: 100%;
	color: #e5e5e5;
	font-family: Lato;
  background: #454545;
}
.pusher
{
  // height: 100%;
}
.container-fluid
{
	height:100%;
}

.grey
{
	width: 100%;
	height: 100%;
	background:$c1;
}

.login
{
	padding: 20% 25%;
}
.sidebar
{
	height: 100%;
	width: 15%;
	border-right: 1px solid $bc1;
	background:$light1;
}
.sidebar-item
{
	width: 100%;
	height: 20%;
	border-bottom: 1px solid $bc1;
}
.sec2-h
{
  background: rgba(0,0,0,0.5);
  padding: 1rem 1.5rem 1rem 1.5rem !important;
}
.sec2
{
  height: 100%;
  background: rgba(10, 10, 10, 0.25);
  padding: 0px 0px 0px 0px !important;
}
.ht100
{
  height: 100%;
}
.sec3
{
height: 100%;
padding: 0px 0px 0px 0px !important;

}
.sec3-h
{
  background: rgba(0,0,0,0.3);
  padding: 1rem 1.5rem 1rem 1.5rem !important;
  border-radius: 0px !important;
}
.sec3-con
{
  padding: 1rem 1.5rem 1rem 1.5rem !important;
  margin-left: 0px !important;

}
.sec3-con-b
{
  padding: 1rem 1.5rem 1rem 1.5rem !important;
  background: rgba(0, 0, 0, 0.5);
  margin-left: 0px !important;
}
.ui.button
{
border-radius: 0px !important;
}
.ui.form input:not([type]), .ui.form input[type="date"], .ui.form input[type="datetime-local"], .ui.form input[type="email"], .ui.form input[type="number"], .ui.form input[type="password"], .ui.form input[type="search"], .ui.form input[type="tel"], .ui.form input[type="time"], .ui.form input[type="text"], .ui.form input[type="url"]
{
  border-radius: 0px !important;
}



.viewlabel2
{
  font-size: 1.2em !important;
  color: rgba(255, 255, 255, 0.9) !important;

}
.viewlabel1
{
  color: rgba(255, 255, 255, 0.9) !important;
  width: 100px !important;
}
.ui.tabular.menu .item
{
  color: rgba(250, 250, 250, 0.87);
}
.seg1
{
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.seg2
{
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  width: 50%;
  float: left;
}
.seg3
{
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  width: 50%;
  float: right;
}
.seg4
{
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  float: none;
}
.bigc
{
  font-size: 36px !important;
  font-family: 'Lato-light' !important;
  font-weight: 500 !important;
}
.insta-btn
{
  height: 228px;
  padding: 50px 20px !important ;

}
