<div class="ui padded grid ht100">
  <div class="ui four wide column sec2 ">
  <div class="ui inverted dividing header  sec2-h">
    Enquiries
  </div>
</div>

  <div class="ui twelve wide column sec3">
    {{outlet}}

  </div>
</div>
