<div class="ui inverted header sec3-h" >Pending Enquiries</div>

<div class="ui  sec3-con" >


  <table class="ui celled structured table">
  <thead>
    <tr>
    <th>ID</th>
    <th>Tool</th>
    <th></th>
  </tr></thead>
  <tbody>
    {{#each enquiries as |enquiry|}}
    <tr>
      <td>{{enquiry.id}}</td>
      <td>{{enquiry.name}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

</div>
