
<div class="ui inverted menu sec3-h" style="padding:0px 0px 0px 0px !important; " >
  {{#link-to 'dashboard.customers' }}
  <div class="item">
    <img src="images/bk2.png" alt="" />
  </div>
  {{/link-to}}
  <div class="ui header item">
  Customer ID :#1
</div>
</div>
{{outlet}}
