<div class="ui left visible vertical inverted sidebar thin labeled icon menu">
<a class="item">
  <i class="home icon"></i>
  Enquiries
</a>
<a class="item">
  <i class="block layout icon"></i>
  Topics
</a>
<a class="item">
  <i class="smile icon"></i>
  Friends
</a>
</div>
<div class="container-fluid">
  <div class="grey">
    <div class="ui top inverted fixed menu" style="margin-left:150px">
      <div class="item header">  Enquiries</div>

    </div>


</div>
</div>

{{outlet}}
