<div class="ui left visible inverted vertical very thin sidebar labeled icon menu lato no-print" style="width:90px; background: rgb(45,48,51) ">
  <div class="item" style="padding:17px 3px">
    {{#link-to 'dashboard'   }}
    <i class="block  layout icon" style="color:#00A1B1"></i>
    {{/link-to}}
  </div>








  {{#link-to 'dashboard.enquiry-forms.index'  class="item"}}
    <i class="block  layout icon" style="color:#00A1B1"></i>
    Pending Enquiries
  {{/link-to}}

  {{#link-to 'dashboard.enquiry-forms.new'  class="item"}}
    <i class="block  layout icon" style="color:#00A1B1"></i>
    New Enquiry
  {{/link-to}}





  <a class="item" {{action "logout"}} style="margin-top:219px;border-top:1px solid rgba(150,150,150,0.2)">
    <i class="sign out icon" ></i>
    Logout
  </a>

</div>
<div class="pusher" style="padding:0px 60px 0px 30px;" >
{{outlet}}
</div>
